<section id="contact" class="px-[5%] lg:px-[10%] mt-24">
  <app-section-info [info]="info" />
  <form
    [formGroup]="contactForm"
    (ngSubmit)="sendEmail()"
    class="flex flex-col items-center justify-center mt-10 gap-y-8"
  >
    <div class="grid w-full md:w-[600px] grid-cols-2 gap-4">
      <app-input
        [placeholder]="'Enter name'"
        [type]="'text'"
        [id]="'name'"
        [label]="'name'"
        [control]="contactForm.get('name')"
      />
      <app-input
        [placeholder]="'Enter email'"
        [type]="'email'"
        [id]="'email'"
        [label]="'email'"
        [control]="contactForm.get('email')"
      />
      <textarea
        id="message"
        name="message"
        placeholder="Enter message"
        formControlName="message"
        [ngClass]="{
          invalid:
            contactForm.get('message')?.invalid &&
            contactForm.get('message')?.touched
        }"
        class="font-ovo border h-40 border-[#24242478] outline-none rounded-md py-2 pl-4 text-[#242424] focus:border-[#242424] placeholder:font-outfit col-span-2"
      >
      </textarea>
    </div>
    <app-button
      [label]="'submit form'"
      [customStyle]="'bg-[#242424] text-white'"
    >
      <svg
        width="13"
        height="13"
        viewBox="0 0 13 13"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 12L12 1M12 1H2.1M12 1V10.9"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </app-button>
  </form>
</section>
