<section id="contact" class="px-[5%] lg:px-[10%] mt-24">
  <app-section-info [info]="info" />
  <form
    [formGroup]="contactForm"
    (ngSubmit)="sendEmail()"
    class="flex flex-col items-center justify-center mt-10 gap-y-8"
  >
    <div class="grid w-full md:w-[600px] grid-cols-2 gap-4">
      <input
        id="name"
        type="text"
        formControlName="name"
        placeholder="Enter name"
        [ngClass]="{
          invalid:
            contactForm.get('name')?.invalid && contactForm.get('name')?.touched
        }"
        class="font-ovo border border-[#24242478] outline-none rounded-md py-3 pl-4 text-[#242424] focus:border-[#242424] placeholder:font-outfit"
      />
      <input
        id="email"
        type="email"
        formControlName="email"
        placeholder="Enter email"
        [ngClass]="{
          invalid:
            contactForm.get('email')?.invalid &&
            contactForm.get('email')?.touched
        }"
        class="font-ovo border border-[#24242478] outline-none rounded-md py-3 pl-4 text-[#242424] focus:border-[#242424] placeholder:font-outfit"
      />
      <textarea
        id="message"
        type="text"
        name="message"
        placeholder="Enter message"
        formControlName="message"
        [ngClass]="{
          invalid:
            contactForm.get('message')?.invalid &&
            contactForm.get('message')?.touched
        }"
        class="font-ovo border h-40 border-[#24242478] outline-none rounded-md py-2 pl-4 text-[#242424] focus:border-[#242424] placeholder:font-outfit col-span-2"
      >
      </textarea>
    </div>
    <app-button
      [label]="'submit form'"
      [customStyle]="'bg-[#242424] text-white'"
    >
      <svg
        width="13"
        height="13"
        viewBox="0 0 13 13"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 12L12 1M12 1H2.1M12 1V10.9"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </app-button>
  </form>
</section>
