<section id="portfolio" class="mt-24 px-[5%] lg:px-[10%]">
  <app-section-info [info]="info" />
  <div class="mt-10">
    <ul>
      @for(project of projects; track $index) {
      <li
        class="flex flex-col justify-center gap-10"
        [ngStyle]="{
          flexDirection: isDesktopWidth
            ? $index % 2 === 0
              ? 'row'
              : 'row-reverse'
            : null
        }"
      >
        <img
          [src]="project.image"
          [alt]="project.name"
          class="md:max-w-[420px] md:h-[210px]"
        />
        <div class="grid gap-4 md:max-w-[420px]">
          <div class="flex items-center justify-between gap-4">
            <h2 class="text-lg font-bold capitalize">{{ project.name }}</h2>
            <div class="flex gap-6">
              <a [href]="project.site" class="relative inline-block group">
                <img src="/assets/arrow-diagonal.svg" />
                <div
                  class="absolute hidden px-3 py-1 mb-2 text-sm text-white transform -translate-x-1/2 bg-gray-800 rounded shadow-lg font-ovo bottom-full left-1/2 group-hover:block whitespace-nowrap"
                >
                  Live site
                </div>
              </a>
              <a
                [href]="project.repository"
                class="relative inline-block group"
              >
                <img src="/assets/github.svg" />
                <div
                  class="absolute hidden px-3 py-1 mb-2 text-sm text-white transform -translate-x-1/2 bg-gray-800 rounded shadow-lg font-ovo bottom-full left-1/2 group-hover:block whitespace-nowrap"
                >
                  Repository
                </div>
              </a>
            </div>
          </div>
          <p>{{ project.description }}</p>
          <p>
            <span class="font-bold">Technologies:</span>
            {{ project.technologies }}
          </p>
        </div>
      </li>
      }
    </ul>
  </div>
</section>
