<nav
  [ngClass]="{ hidden: !isMobileMenuActive }"
  [class.active]="isMobileMenuActive"
  class="absolute top-0 right-0 z-50 flex flex-col justify-between w-[70vw] max-w-[340px] md:max-w-max h-full px-6 pt-8 bg-white md:bg-transparent mobile-menu md:block md:top-auto md:right-auto md:w-auto md:rounded-full md:relative md:py-2 md:px-6"
>
  <ul class="flex flex-col gap-y-6 md:gap-x-6 md:flex-row lg:justify-evenly">
    @for(link of navigationLinks; track $index) {
    <li>
      <a
        [routerLink]="link.path"
        class="px-4 lg:px-6 py-2 text-lg capitalize rounded-full hover:text-white hover:bg-[#242424]"
        >{{ link.name }}</a
      >
    </li>
    }
  </ul>
  <app-button
    [label]="'connect'"
    [customStyle]="
      'flex md:hidden justify-between items-center gap-x- w-full mb-6'
    "
  >
    <svg
      width="10"
      height="10"
      viewBox="0 0 13 13"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1 12L12 1M12 1H2.1M12 1V10.9"
        stroke="#242424"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </app-button>
</nav>
